#cezam_content {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: row;
  align-items: left;
  width: 100%;
}
#cezam_content * {
  box-sizing: border-box;
}
#cezam_content h1,
#cezam_content p {
  text-align: left;
}
#cezam_content p {
  width: 100%;
  max-width: 500px;
}
#cezam_content a:link,
#cezam_content a:hover,
#cezam_content a:active,
#cezam_content a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
#cezam_content a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
#cezam_content .contain {
  width: 100%;
}
#cezam_content .row {
  overflow-x: auto;
  width: 100%;
  overflow-y: hidden;
}
#cezam_content .row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 40px 0;
  /* padding-bottom: 10px; */
}
#cezam_content .tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
#cezam_content .tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
#cezam_content .tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
#cezam_content .tile__details:after,
#cezam_content .tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
#cezam_content .tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: left;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
#cezam_content .tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
#cezam_content .tile:hover .tile__details {
  opacity: 1;
}
#cezam_content .tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
#cezam_content .row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
#cezam_content .row__inner:hover .tile {
  opacity: 0.3;
}
#cezam_content .row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
#cezam_content .tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}

#cezam_content .sub_filter{
  width: auto;
  min-width: 40%;
  padding: 4px;
  margin-top: -10%;
  background: 0;
  border: 0;
  border-bottom: 1px dashed white;
  color: white;
  outline: none;
  font-size: 20px;
}

#cezam_content #global_search{
  padding: 4px;
  border: 0px;
  background: 0;
  color: white;
  font-size: 20px;
  width:auto;
  outline: none;
}